# Assignments

In [3]:
Ans1-
marks=int(input('enter your user marks'))
if marks<60:
    print('Grade:','D')
elif marks>60 and marks<=80:
    print('Grade:','c')
elif marks>80 and marks<=90:
    print('Grade:','B')
else:
    print('Grade:','A')

enter your user marks 91

Grade: A

In [4]:
Ans2-
cost_price_of_bike=int(input('enter your cost price of the bike'))
if cost_price_of_bike<=50000:
    print('Road tax:','5%')
elif cost_price_of_bike>50000 and cost_price_of_bike<100000:
    print('Road tax:','10%')
else:
     print('Road tax:','15%')

enter your cost price of the bike 60000

Road tax: 10%

In [6]:
Ans3-
city=input('enter a city')
if city=='Delhi':
    print('Red Fort')
elif city=='Agra':
    print('Taj Mahal')
elif city=='Jaipur':
    print('Jal Mahal')
else:
    print('Invalid input')

enter a city Jaipur

Jal Mahal

In [11]:
#Ans4-
def count_divisions_by_three(number):
    count = 0
    
    while number > 10:
        number /= 3
        count += 1
    
    return count

# Get user input
user_input = float(input("Enter a number: "))

# Call the function and display the result
result = count_divisions_by_three(user_input)
print(f"The number can be divided by 3 {result} times before becoming less than or equal to 10.")

Enter a number:  100

The number can be divided by 3 3 times before becoming less than or equal to 10.

In [ ]:
# Ans5-
# while loops are useful when you need to repeat a block of code based on a condition
# Example-
# Example: Print numbers from 1 to 5 using a while loop

counter = 1

while counter <= 5:
    print(counter)
    counter += 1

In [12]:
#Ans6-
# to print three different pattern using nested while loop
# Square Pattern
row = 1
while row <= 5:
    col = 1
    while col <= 5:
        print('*', end=' ')
        col += 1
    print()
    row += 1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [13]:
# Right-angled Triangle
row = 1
while row <= 5:
    col = 1
    while col <= row:
        print('*', end=' ')
        col += 1
    print()
    row += 1

*
* *
* * *
* * * *
* * * * *

In [14]:
# Inverted Right-angled Triangle
row = 5
while row >= 1:
    col = 1
    while col <= row:
        print('*', end=' ')
        col += 1
    print()
    row -= 1

* * * * *
* * * *
* * *
* *
*

In [3]:
# Ans7-
# Display number from 10 to 1 using while loop
num=10
while num>0:
    print(num)
    num=num-1

10
9
8
7
6
5
4
3
2
1

In [4]:
# Ans7-
# Display number from 1 to 10 using while loop
num=1
while num<11:
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9
10